#game-world{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: lavender;
    margin: 0%;
    padding: 0%;
}

#enemy, #ally{
    border-radius: 30px;
    font-size: 25px;
    background-color: teal;
    color: lavender;
    margin: 30px;
    padding: 5px 0;
    width: 250px;
    text-align: center;
    position: fixed;
}

#enemy {
    margin-top: 80px;
    right: 0;
}

#ally{
    bottom: 40%;
    left: 0;
    transform: translate(0,50%);
}

#moveset {
    position: fixed;
    bottom: 10%;
    right: 0;   
}

.move {
    border-radius: 10px;
    margin: 10px;
    font-size: 25px;
    width: 150px;
    padding: 5px 0;
}

@media only screen and (min-width: 1000px){
    #ally{
        width: 300px;
        font-size: 32px;
        bottom: 0;
        transform: translate(0,0);
    }
    #enemy{
        width: 300px;
        font-size: 32px;
    }
    #moveset{
        right: 0;
        bottom: 0;
        transform: translate(0, 0);
        margin: 20px 20px;
    }
    .move{
        font-size: 32px;
        width: 300px;
        padding: 15px 0;
    }
}