#game-world{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
    margin: 0%;
    padding: 0%;
}

#enemy {
    font-size: 2em;
    background-color: wheat;
    margin: 30px;
    padding: 0.5em 4em;
    position: fixed;
    top: 0;
    right: 0;
}

#ally{
    font-size: 2em;
    background-color: wheat;
    margin: 30px;
    padding: 0.5em 4em;
    position: fixed;
    bottom: 50%;
    left: 0;
    transform: translate(0,50%);
}

#moveset {
    position: fixed;
    bottom: 0;
}

.move {
    margin: 10px 0;
    font-size: 2em;
    width: 300px;
    padding: 0.5em 0em;
}

@media only screen and (max-width: 1207px){
    #moveset{
        left: 50%;
        transform: translate(-150px,0);
    }
}

@media only screen and (min-width: 1208px){
    #moveset{
        right: 0;
        margin: 20px 30px;
    }
}