#game-world{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
    margin: 0%;
    padding: 0%;
}

#enemy {
    font-size: 32px;
    background-color: wheat;
    margin: 30px;
    padding: 8px 64px;
    position: fixed;
    top: 0;
    right: 0;
}

#ally{
    font-size: 32px;
    background-color: wheat;
    margin: 30px;
    padding: 8px 64px;
    position: fixed;
    bottom: 50%;
    left: 0;
    transform: translate(0,50%);
}

#moveset {
    position: fixed;
    bottom: 0;
}

.move {
    margin: 10px;
    font-size: 32px;
    width: 300px;
    padding: 15px 0;
}

@media only screen and (max-height: 900px){
    .move{
        font-size: 25px;
    }
    #ally, #enemy{
        font-size: 25px;
    }
}

@media only screen and (max-width: 1209px){
    #moveset{
        left: 50%;
        transform: translate(-150px,0);
    }
}

@media only screen and (min-width: 1209px){
    #ally{
        bottom: 0;
        transform: translate(0,0);
    }
    #moveset{
        right: 0;
        margin: 20px 20px;
    }
    .move{
        padding: 15px 0;
    }
}